/* .masterShowServiceIcon {
    width: 40px;
}

.borderRightServiceSetting {
    border-right: 1px solid #d9d9d9;
}

.optionsService {
    background-color: #fbfbfb;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}

.btnAddOptionss {
    padding: 5.5px;
} */